@import './variabel.scss';

.bg-dark {
   background: $primary-dark;
   color: $primary-light;
}

.bg-dark-sub {
   background: $secondary-dark;
   color: $primary-light;
}

.bg-light {
   background: white;
   
}